<%- include('../partials/header')%>
<%- include('../partials/navbar')%>
<%-include('../partials/flash')%>

<div class="container">
  <h1>Products</h1>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <%for(let product of products){%>
      <div class="col">
       <a href="/products/<%=product._id%>">
        <div class="card h-100 ">
          <img src="<%=product.img%>" class="card-img-top productIndex" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%=product.name%></h5>
            <h3>Star rating</h3>
            <h3>&#8377;<%=product.price%></h3>
          </div>
        </div>
       </a>
      </div>
    <%}%>
  </div>
</div>
<%- include('../partials/footer')%>
